<header class="masthead" id="searchSection">
  <div class="container position-relative">
    <div class="row justify-content-center">
      <div class="col-xl-6">
        <div class="text-center text-white">
          <h1 class="mb-5">Retrouvez ici vos véhicules et documents saisis !</h1>

          <form (ngSubmit)="rechercherEngin()" #searchForm="ngForm">
            <div class="row">
              <div class="col">
                <input
                  class="form-control form-control-lg"
                  [(ngModel)]="immatriculation"
                  name="immatriculation"
                  type="text"
                  placeholder="Entrez un numéro d'immatriculation"
                  required
                />
              </div>
              <div class="col-auto">
                <button class="btn btn-primary btn-lg" type="submit">
                  Rechercher
                </button>
              </div>
            </div>
          </form>

          <!-- Affichage des erreurs -->
          <div *ngIf="erreur" class="text-danger mt-3">
            {{ erreur }}
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

